replicaCount: 2

image:
  repository: bathinapullarao/orderservice
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  hosts:
    - host: myapp.local
      paths:
        - path: /
          pathType: Prefix

resources: {}
