apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.port }}

          envFrom:
            - configMapRef:
                name: myapp-config
            - secretRef:
                name: myapp-secret

          volumeMounts:
            - name: app-storage
              mountPath: /app/data
            - name: config-volume
              mountPath: /app/config

      volumes:
        - name: app-storage
          persistentVolumeClaim:
            claimName: {{ .Values.pvcName }}
        - name: config-volume
          configMap:
            name: myapp-config

