apiVersion: v1
kind: Service
metadata:
  name: orderservice-service
  namespace: prod
spec:
  type: NodePort
  selector:
    app: orderservice
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30080
