apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: myapp-gitops
  namespace: argocd
spec:
  project: default

  source:
    repoURL: "https://github.com/YOUR-USER/YOUR-REPO.git"
    targetRevision: main
    path: manifests

  destination:
    server: https://kubernetes.default.svc
    namespace: prod

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

